.userInfoContainer {
  width: 400px;
  margin: auto;
}

.userInfoContainer_inputValues {
  width: 98%;
  height: 25px;
  margin: 5px 0 5px 0;
  font-size: 1.1rem;
}

p {
  margin: 0;
  color: red;
  min-height: 20px;
}
